# Enable lombok annotations
lombok.accessors.chain = true
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = false
lombok.addLombokGeneratedAnnotation = true
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call
lombok.data.flagUsage = allow
lombok.value.flagUsage = allow
lombok.experimental.flagUsage = allow
lombok.nonNull.flagUsage = allow 